@import url('header.css');
@import url('sobre.css');
@import url('metricas.css');
@import url('vagas.css');
@import url('depoimentos.css');
@import url('rodape.css');

:root {
    --cor-principal: #FFFFFF;
    --cor-secundaria: #101828;
    --cor-terciaria: #667085;
    --cor-destaque: #8E2424;
    --cor-bordas: #EAECF0;
    --cor-destaque-opacidade: #8e24240d;
    --cor-terciaria-light: #F9FAFB;

    --fonte-principal: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.conteudo {
    padding: 6em 2%;
    max-width: 1280px;
    margin: 0 auto;
}